*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: #fff;
}

form{
    display: none;
}

.bracket{
    display: grid;
    grid-auto-flow: column;
    /* fazer com js calculra quandtas  lutas e mudar a quant das colunas e rows*/
    grid-template-columns: auto auto auto auto 20%;

    background-color: #353535cc;
    height: 100vh;
}

.round{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.fight{
    display: flex;
    flex-direction: column;
    row-gap: 30px; 
}

.fighter{
    display: flex;
    position: relative;
}