*{
    padding: 0;
    margin: 0;
}

form{
    display: none;
}

.bracket{
    display: grid;
    grid-auto-flow: column;
    /* fazer com js calculra quandtas  lutas e mudar a quant das colunas e rows*/
    grid-template-columns: auto auto auto auto 20%;

    background-color: blue;
    height: 100vh;
}

.round{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.fight{
    display: flex;
    flex-direction: column;
    row-gap: 30px; 
}

.fight::after{
    content: "";
    position: relative;
    display: flex;
    height: 50px;
    width: 2px;
    background-color: black;
    bottom: 59.9%;
    left: 150%;
}

.fighter{
    display: flex;
    position: relative;
}

.fighter::after{
    content: "";
    position: absolute;
    display: flex;
    height: 2px;
    width: 15px;
    top: 50%;
    right: -50%;
    background-color: black;
}