.hide{
    display: none;
}

form{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 10fr 15fr 12fr 10fr 10fr;

    grid-template-areas: 
        "sex x x"
        "title title title"
        "categ catg peso"
        "faixa faixa faixa"
        "btn btn btn";

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.15);
    height: 65vh;
    width: 35vw;
    padding: 2%;
    justify-self: center;
    align-items: center;
    margin-top: 5%;
}

form a:has(svg){
    grid-area: x;
    justify-self: end;
    height: 50px;
    cursor: pointer;
}

form a{
    text-decoration: none;
    color: #000;
}

form a svg{
    height: 100%;
    transition: transform 0.2s ease;
}

form svg:hover{
    transform: scale(1.2);
}

form input[type='text']{
    grid-area: title;
    font-size: 24px;
    font-weight: 700;
    color: #222;
    justify-self: center;
    margin-bottom: 10px;
    border: none;
    border-bottom: solid 1px;
    background-color: transparent;
    padding: 0 0 5px 0;
    height: min-content;
    width: min-content;
    display: flex;
    align-self: center;
    text-align: center;
}

form input[type='number']:focus, form input[type='number']:focus-visible, form input[type='text']:focus, form input[type='text']:focus-visible{
    outline: none;
}

form input[type='number']{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-align: center;
    border: none;
    background-color: transparent;
    padding: 0 0 5px 0;
    height: min-content;
    width: 80%;
    display: flex;
    align-self: center;
}

form *{
    justify-self: center;
}

.sex{
    grid-area: sex;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    justify-self: left;
}

.categ{
    grid-area: catg;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-align: center;
    height: min-content;
    display: flex;
    align-self: center;
}

.peso{
    grid-area: peso;
}

.faixa{
    display: flex;
    align-items: center;
    grid-area: faixa;
    font-size: 18px;
    font-weight: 600;
    justify-self: center;
}

.faixa:hover{
    /*border-bottom: 1px solid;*/
}

#divfaixa{
    grid-area: faixa;
    display: flex;
    align-items: center;
}

div#divfaixa::after, div#divfaixa::before{
    content: "";
    height: 25px;
    width: 65px;
    display: flex;
        background: linear-gradient(
        to bottom,
        var(--cor-faixa) 0%,
        var(--cor-faixa) 45%,
        var(--cor-linha) 45%,
        var(--cor-linha) 55%,
        var(--cor-faixa) 55%,
        var(--cor-faixa) 100%
    );

    border: 1px solid #b6b6b6a6;
}


span.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-area: btn;
    width: 100%;
}

a.delete, input[type='submit']{
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
    background-color: transparent;

    height: 40px;
    width: 120px;

    border-radius: 40px;

    cursor: pointer;
    transition: transform .3s ease;
}

a.delete:hover, input[type='submit']:hover{
    transform: translateY(-2px) scale(105%);
}

input[type='submit'] svg{
    height: 100%;
    width: min-content;
}

a.delete{
    background-color: #333;

}

input.confirm{
    background-color: #333;
    padding-right: 2%;
}